.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    border: 1px solid black
}

.form-content div:first-child {
    width:100%;
    margin: 0 auto

}